@import "tailwindcss";
body {
  margin: 0;
  background: #fefefd;
  box-sizing: border-box;
  padding: 0%;
  font-family:'Courier New', Courier, monospace;
}

code {
  font-family:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  height: 100vh;
  max-width: 100%;
  background-image: url('../public/img/jess-bailey-94Ld_MtIUf0-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  
  
}

.card{
 min-height: 70vh;
 max-height: auto;
  width:350px;
  box-shadow: 1px 2px 2px 2px rgba(0,0, 0, 0.5);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(14px);
  background-color: rgba(255,255, 255, 0.2);
  overflow:hidden;
  
  
}
.head{
  display: flex;
  flex-direction: column;
  justify-content:left;
  margin-top: 5px;
  
}
.head p{
  margin-left: 15px;
  font-weight: bolder;
  font-size: 22px;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  margin-bottom: -5px;
}
p{
  display: flex;
  flex-direction: row;
  justify-content:left;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: bolder;
  font-size: 18px;
}

input{
  width: 70%;
  border-radius: 40px;
  padding: 8px;
  text-align: center;
  backdrop-filter: blur(14px);
  background-color: rgba(255,255, 255, 0.2);
  border: none;
  overflow: hidden;
  font-size: 18px;
  
 
}
input:focus{
  outline:0;
  background: #f4f2f2;
}
.btn-add{
 
  background: #43bf50;
  color: #fefefd;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 0%;

  
}

.list-item{
  margin-top: 15px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  
}
.item{
  display: flex;
  flex-direction: column;
  line-height: 0em;
  min-height: 20vh;

}
.input-item{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}

.Footer{
  margin-top: auto;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.copyRight{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(14px);
  background-color: rgba(255,255, 255, 0.2);
  margin-top: auto;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 

/* todo list */

